*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body{
    margin: 0 100px;
    background-color: bisque;
}

.contact-grid {
	display: grid;
	grid-template-rows: repeat(6, 1fr);
	grid-template-columns: repeat(6, 1fr);
	gap: 0;
	width: 50%;
	height: fit-content;
    border: none;
    border-radius: 10px;
    gap: 10px;
    background-color: #ffffff;
    margin: 0;

}

 .contact-grid .content {
	grid-area: 1 / 1 / 7 / 5;
    margin: 15px;

}

.contact-grid .content form{
    display: flex;
    flex-direction: column;
    justify-content: center;
   

}

.contact-grid .img-asset {
	grid-area: 1 / 5 / 7 / 7;
	
}

.contact-grid .img-asset img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0 10px 10px 0;
   
}

label,p,button{
  margin-top: 15px;
  margin-bottom: 2px;
}

input,button{
    padding: 10px;
}

input,textarea,button{
    width: 100%;
    border-radius: 5px; 
}

button{
    background-color: rgb(3, 0, 63);
}