*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body{
    background-color:rgb(255, 212, 187);
    height: 100vh;
}

.contact-grid {
	display: grid;
	grid-template-columns: repeat(2,1fr);
    border: none;
    border-radius: 10px;
    gap: 10px;
    background-color: #ffffff;
    margin: 10% auto;
    box-shadow: 5px 7px 19px -7px rgba(0,0,0,0.53);
    justify-content: center;
    align-items: center;
    width: 90%;
}


.contact-grid .content form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.form-content{
    padding: 20px;
}


.contact-grid .img-asset {
    background: url('https://images.unsplash.com/photo-1543872084-c7bd3822856f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dG93bnxlbnwwfHwwfHx8MA%3D%3D" alt="Telephonen image');

    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0 10px 10px 0;
   
}

label,p,button{
  margin-top: 15px;
  margin-bottom: 2px;
}

input,textarea,button{
    width: 100%;
    border-radius: 5px; 
    border: 2px solid  rgb(63, 23, 0);
    padding: 10px;
}

label,h2,p{
    color:  rgb(63, 23, 0);
    
}

label,h2{
    font-weight: 600;
}

button{
    background-color: #3f1700;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}

button:hover{
    background-color:#6a2700;
    transition: 0.3s ease-in-out;
}

textarea:focus, input:focus,button:focus{
    outline: none;
}


@media (max-width:810px) {


    .contact-grid {
       display: flex;
       flex-direction: column-reverse;
        border: none;
        border-radius: 10px;
        gap: 10px;
        background-color: #ffffff;
        box-shadow: 5px 7px 19px -7px rgba(0,0,0,0.53);
        justify-content: center;
        align-items: center;
        
        height: 100%;
        margin: 5%;
    }


    .contact-grid .img-asset {
        background: url('https://images.unsplash.com/photo-1543872084-c7bd3822856f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dG93bnxlbnwwfHwwfHx8MA%3D%3D" alt="Telephonen image');
    
        width: 100%;
        height: 100%;
        object-fit: cover;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 10px 10px 0 0;
       
    }

  
}